.leftProject, .rightProject {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
    width: 80vw;
}

.leftProject {
    flex-direction: row;
    border-style: solid hidden solid solid;
}

.rightProject {
    flex-direction: row-reverse;
    border-style: solid solid solid hidden;
}

.project-img {
    max-width: 25%;
}

.project-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    border-style: hidden solid hidden solid;
    padding: 10px 10px;
    text-align: left;
}

.project-techstack {
    color: gray;
}