.NavbarItems {
    background: lightgreen;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    margin-left: 2rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2rem;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;
}