.IDEWindow {
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.ide-bar {
    background: gray;
}

.ide-info {
    background: darkslategray;
    text-align: left;
    color: white;
}