.App {
  --c1: #8a2be2;
  --c2: #4a1e9e;
  --c3: #ddcbff;
  --c4: #bb98ff;
  --c5: #ffffff;

  font-family: 'JetBrains Mono', monospace;
}

.main-section {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-section-img {
  border-radius: 50%;
  max-width: 40%;
  height: auto;
}

h1 {
  color: var(--c2);
}

.main-section-text .main-section-text-descriptions {
  display: flex;
  flex-direction: column;
}

.main-section-text-name {
  font-size: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.main-section-text-desc {
  display: inline;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--c2); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--c2); }
}

.projects-section {
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}